<%- include('includes/head.ejs') %>
</head>
<script src="/javascripts/common.js"></script>
<body  class="container">
<%- include('includes/header.ejs') %>

<% if (!!data.uer) { %>
    <% if (!!data.followers) { %>
    <% if (!!data.users) { %>
        <% data.users.forEach(function(user) { %>
    <div>
        <img src="data:images/<%=user.profilepicture.contentType%>;base64,
                     <%=user.profilepicyure.imgdata.toString('base64')%>" width="300" height="250">
        <div>
            <p><%= user.firstname %></p>
            <p><%= user.lastname %></p>
            <button onClick="unFollow('<%= data.user_id %>','<%= user._id %>')" >UnFollow </button>
        </div>
    </div>
    <% })}
    } else {%>
    <p>No Followers found</p>
   <%}}
    %>
</body>
</html>