<%- include('includes/head.ejs') %>
</head>
<script type="text/javascript" src="/javascripts/common.js"></script>
  <body class="container">
  <%- include('includes/header.ejs') %>
    <h1>Welcome to Pixogram application</h1>
     <p><%= data.token %></p>
  <% if (!!data.user) { %>
  <div>
      <img src="data:image/<%=data.user.profilepicyure.contentType%>;base64,
                     <%=data.user.profilepicture.imgdata.toString('base64')%>" width="300" height="250">
      <div>
        <p><%= data.user.firstname %></p>
        <p><%= data.user.lastname %></p>
        <button onClick="getFollowers('<%=data.customer._id%>')" >Get Followers </button>
        <button onClick="deleteFollowers('<%=data.customer._id%>')">Delete Followers </button>
          <div>
              <p><b id='result'></b></p>
          </div>
      </div>
    </div>
  <% }
  %>
</body>
</html>