<%- include('includes/head.ejs') %>

  </head>
<script type="text/javascript" src="/javascripts/common.js"></script>
  <body class="container-fluid">
  <%- include('includes/nav.ejs') %>
  <div class="containter-fuild" style="margin-top: 100px; margin-left: 30px;">
    <h1>Welcome to PixoGram :-)</h1>
    <h3>You can connect to people, Like Share Post !!!! </h3>
  </div>
  <p><%= data.token %></p>
  <% if (!!data.customer) { %>
  <div>
      <img src="data:image/<%=data.customer.profilepic.contentType%>;base64,
                     <%=data.customer.profilepic.imgdata.toString('base64')%>" width="300" height="250">
      <div>
        <p><%= data.customer.firstname %></p>
        <p><%= data.customer.lastname %></p>




        <button onClick="getFollowers('<%=data.customer._id%>')" >Get Followers </button>

        <button onClick="addFollowers('<%=data.customer._id%>','5f898bf42c310943f8f44e3f')" >Add Followers </button>
  
        <button onClick="deleteFollowers('<%=data.customer._id%>')">Delete Followers </button>

          <div>
              <p><b id='result'></b></p>
          </div>


      </div>
    </div>

  <%
  }
  %>
   </body>







</html>
